<input class='planet9' id='pluto' name='planet' type='radio'>
<label class='pluto menu' for='pluto'>
  <div class='info'>
    <h2>
      <div class='pip'></div>
      Pluto
    </h2>
    <h3>39.5 AU</h3>
  </div>
</label>

  <div class='solar_systm'>
    <div class='planet pluto'>
      <div class='planet_description pluto'>
        <h2>Dwarf planet</h2>
        <h1>Pluto</h1>

      </div>
      <div class='overlay'></div>
    </div>
  </div>