body {
  background-image: url(asset-path("white-space-ship-and-brown-planet-586030"));
  background-size: cover;
  background-repeat: no-repeat;
  h2{
    font-weight: bold;
  }
}
.card{
  background: rgba(255,255,255,0.3);
  padding: 50px;
  border-radius: 16px;
}

.navbar{
  position: absolute;
  top: 0px;
}
.btn-secondary{
  background: rgba(33, 254, 146, 0.67);;
}
.form-inputs {
  color: #fff;
  margin: 0 auto;
  max-width: 900px;
  margin-top: 25vh;
  position: relative;
  a {
    color: #fff;
  }
  }

.signup {

  display: flex;

  text-color: red;

  .growing {
   flex-grow: 1;
   // text-align: left;
   color: #fff;
  }

}

.boutons_log{
  display: flex;
  justify-content: space-between;
  a{
    margin-left: 5px;
  }
}

