
  .planetoon{
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    overflow:hidden;
    box-shadow: 0 0 60px -20px rgba(255, 189, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
    left:50%;
    top:50%;
    margin:-150px;
  }
  .planetoon .mask{
    width:100%;
    height:100%;
    position: absolute;
    box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
    border-radius:50%;
  }

  .planetoon .clouds{
    background:url(http://artem.anmedio.ru/dev/planet/clouds.png) repeat-x;
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    animation: translateBackground 30s infinite linear;
    opacity: 0.4;
  }
  .planetoon .wrap{
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    animation: rotatePlanetoon 150s infinite linear;  
  }
  @keyframes translateBackground{
    0%{
      background-position-x:0;
    }
    100%{
      background-position-x:-600px;
    }
  }
  @keyframes rotatePlanetoon{
    0%{
      transform:rotateZ(0);
    }
    100%{
      transform:rotateZ(-360deg);
    }
  }

  
  .planets-show {
    height: 100%;
    overflow: hidden;
    background: #000;
    perspective: 340px;
    color: white;
    text-align: center;
  }

.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  box-shadow: -1015px -16px #e3e3e3, 609px 209px #ededed, 1013px 366px #e3e3e3, 437px -426px #ededed, 592px -15px #dedede, 1230px -317px #cfcfcf, -1428px -147px #e3e3e3, -687px 126px #cccccc, -478px 362px #ededed, -949px 251px #f2f2f2, -1132px 441px #dedede, -539px -334px #ededed, 443px -161px #c4c4c4, -920px 299px #e6e6e6, 933px 475px #f7f7f7, -305px 398px #ebebeb, 1223px -13px #d6d6d6, -185px -27px #d6d6d6, -72px 455px #e3e3e3, 2px -421px #e6e6e6, 1401px 109px #fafafa, -607px 42px #c7c7c7, -423px 446px #f0f0f0, 324px 7px #d6d6d6, 745px 367px #e3e3e3, 24px -448px #c7c7c7, 1434px -56px #c4c4c4, -686px -382px #fafafa, -1001px 132px #ebebeb, 564px 269px #fafafa, 299px -99px #d1d1d1, -90px -207px #e8e8e8, 587px 83px white, 184px -333px #dedede, 164px 66px #dbdbdb, -89px -406px #c7c7c7, 571px 305px #e3e3e3, -157px 2px #f2f2f2, 571px 140px #d9d9d9, 1271px -106px #c2c2c2, 420px -90px #f2f2f2, -729px -432px #f0f0f0, 63px -190px #e3e3e3, -1186px 456px #dedede, 384px -445px #f2f2f2, -792px 327px #dbdbdb, 1253px 375px whitesmoke, -592px -65px #d9d9d9, -1389px 387px white, -1228px 109px #c7c7c7, 1231px 455px #ebebeb, -400px 145px #f7f7f7, -311px -455px #f7f7f7, -670px -231px whitesmoke, -283px 157px #c7c7c7, 615px 466px #fafafa, -1342px -51px #c9c9c9, -846px 215px #cfcfcf, -1174px 378px #dbdbdb, 1224px 2px #ededed, -482px 415px #f7f7f7, -19px 76px #dbdbdb, 621px 407px #c9c9c9, 1026px -349px #f0f0f0, 469px 104px #c9c9c9, -793px -370px white, 117px 24px #cfcfcf, 834px -12px #c2c2c2, -500px -293px #d6d6d6, 262px -447px #c7c7c7, -983px 179px #c2c2c2, -1038px 82px #f7f7f7, -991px 142px #d1d1d1, -370px -476px #cccccc, -28px 24px #e6e6e6, 578px 17px #c9c9c9, -995px -464px #ededed, -379px -378px #d9d9d9, -326px -56px #c2c2c2, -1256px 69px #e8e8e8, 528px 267px #e0e0e0, -697px -154px #f7f7f7, -813px 399px #cccccc, 559px 40px #d6d6d6, -1292px -363px #e8e8e8, 1080px -344px #dbdbdb, 1483px 57px #c4c4c4, 1227px -141px #d1d1d1, -492px -154px #ebebeb, 800px -24px #e8e8e8, -391px -90px #e6e6e6, 744px -205px #cfcfcf, 584px -267px #d6d6d6, -678px -208px #fafafa, -176px 1px #d9d9d9, 1266px -174px #e8e8e8, -1168px 350px #ebebeb, -114px 277px #cfcfcf, -581px -59px #cccccc, 558px -391px white, 1337px -240px #c9c9c9, -1335px -415px #d4d4d4, 148px 236px #c7c7c7, 609px 383px #f7f7f7, 738px -353px #fafafa, -691px -310px #cfcfcf, 744px 207px #e0e0e0, 1266px -397px #fcfcfc, -702px -368px #ededed, -1171px -161px #fafafa, -924px -229px #cccccc, -156px -169px #c9c9c9, 1041px -158px #e3e3e3, 665px 455px #dbdbdb, 1233px 452px #ededed, 382px 270px #dedede, -614px 57px whitesmoke, 47px 317px #cfcfcf, 1270px 81px #d4d4d4, 201px -247px #f2f2f2, -35px -104px #ededed, -413px -382px #e8e8e8, -111px -257px #c2c2c2, -1323px 227px #e0e0e0, 262px 398px #dedede, 1059px 242px #c4c4c4, 982px 1px #ededed, 901px 425px #f7f7f7, 1021px -398px #f0f0f0, -530px 48px whitesmoke, 273px 147px #ededed, 1434px -294px #f7f7f7, -997px 297px #ededed, 1328px 413px #cfcfcf, 416px 197px #d4d4d4, -1388px -298px #f0f0f0, -1332px -15px white, -1491px 375px #e0e0e0, -966px 163px #d6d6d6, 530px -301px #dbdbdb, 408px -291px #f7f7f7, -877px -161px #f2f2f2, -955px 280px white, 1119px -94px #d4d4d4, -406px -216px #e3e3e3, -554px -442px white, 1134px 175px #c7c7c7, 836px 288px #f7f7f7, 215px -142px #fafafa, -334px -183px #d6d6d6, 861px -413px #f7f7f7, 364px 304px #f2f2f2, -491px 425px #cfcfcf, -217px 424px #e8e8e8, -957px -216px #e6e6e6, 174px 292px #d1d1d1, -565px 341px #c7c7c7, 219px 334px #c7c7c7, -13px 197px #d9d9d9, -967px 263px #d1d1d1, 874px -172px #cfcfcf, -82px -236px #d1d1d1, -734px -52px #cfcfcf, 723px 235px #fcfcfc, 595px 131px #d9d9d9, 1180px -400px #c2c2c2, 1218px -330px #ededed, 1395px -280px #f0f0f0, 160px 362px #c4c4c4, 110px -455px #c9c9c9, 1470px 119px #c7c7c7, 195px -120px #d4d4d4, 1409px -197px #c4c4c4, -705px -303px #d4d4d4, -330px -115px #f7f7f7, -1345px -208px #e6e6e6, 1140px -369px #c2c2c2, -673px -276px #d1d1d1, -70px 123px #cccccc, 188px -296px #c7c7c7, -1074px 214px #e6e6e6, -423px 294px #dbdbdb, 1411px 229px #cccccc, 510px 352px #f2f2f2, -1006px 220px #e6e6e6, -720px -224px #fafafa, 1226px 229px #ebebeb, -588px 135px whitesmoke, -1196px 4px #d4d4d4, 242px -104px #e3e3e3, 725px -464px #f7f7f7, -242px 159px #dbdbdb, 862px 440px #cfcfcf, -1446px -140px #d6d6d6, -321px 101px #c9c9c9, 1468px -157px #e3e3e3, -96px -163px #f2f2f2, 967px 110px white, -227px 293px #d1d1d1, 608px -307px #e6e6e6, 1406px 365px #cccccc, -132px -446px #e0e0e0, -789px 460px #c2c2c2, -536px -303px #c7c7c7, -1117px -21px #c2c2c2, 177px -428px #c7c7c7, 236px -307px #c4c4c4, -1053px -174px #d6d6d6, -957px -438px #e3e3e3, 767px 44px #ededed, 1339px 383px #cfcfcf, 96px -45px #cfcfcf, 1091px -274px #ebebeb, 140px -276px #d6d6d6, 833px -443px #d4d4d4, 586px -331px #cfcfcf, -929px 81px #f7f7f7, -673px -4px #e0e0e0, 612px -163px #fafafa, -449px 453px #ebebeb, 506px 2px #f7f7f7, 402px -238px #d6d6d6, 538px -287px #f7f7f7, -851px 323px #fafafa, -446px 193px #d9d9d9, -309px -347px #cfcfcf, 471px -246px #c7c7c7, -1374px -132px #ebebeb, -900px 265px #d1d1d1, 609px -225px #d1d1d1, 1314px -473px #c4c4c4, -248px 266px #c4c4c4, 1319px 381px #cfcfcf, -491px 380px #ededed, 690px 236px #ebebeb, -51px 338px #ebebeb, -983px -330px #e8e8e8, -956px -194px #cfcfcf, 657px -349px #cccccc, -1320px -238px #c9c9c9, 783px -324px #e3e3e3, 129px 402px #c7c7c7, -523px -258px #fafafa, -780px -152px #cfcfcf, 844px 455px #fafafa, 798px -418px #f2f2f2, 1178px -238px #e3e3e3, 991px 218px #c7c7c7, -251px 422px #e6e6e6, -1229px 141px #e3e3e3, 629px -394px #d9d9d9, -1412px -305px #c7c7c7, 448px 180px #ebebeb, -406px 412px #d9d9d9, 1141px 309px #f0f0f0, -887px 96px #e3e3e3, -1079px 326px #c7c7c7, 1133px -229px #e0e0e0, 329px -423px #dedede, -998px -414px #e8e8e8, 565px -201px #c2c2c2, 813px 83px #c9c9c9, -57px 442px #d9d9d9, -210px 59px #cfcfcf, -642px -12px white, -239px 5px #cccccc, 344px 52px #dbdbdb, 825px 8px #d9d9d9, -1093px 126px #e0e0e0, 610px -239px #d4d4d4, -596px 424px #fafafa, -709px -140px #cccccc, -1108px -286px #cfcfcf, 34px 386px #c4c4c4, -977px 156px #d6d6d6, -1289px -228px #fafafa, -426px -41px #fcfcfc, 1395px 75px #c7c7c7, 25px 112px #d6d6d6, -407px -69px white, -1485px -311px #e3e3e3, 1240px 303px #c7c7c7, 605px 383px #d1d1d1, -1213px -6px #ededed, -348px -266px #e3e3e3, 867px -197px #d4d4d4, 374px -422px #fafafa, 846px 419px #d4d4d4, 59px -272px #f0f0f0, -1036px -256px whitesmoke, -461px 476px #ebebeb, 38px -433px #dedede, 111px 354px #d4d4d4, 1328px -175px whitesmoke, -1353px -3px #d6d6d6, -1451px -404px #fcfcfc, 258px 297px #d6d6d6, 1488px 320px #f2f2f2, -170px -281px #e6e6e6, -1340px 84px #fcfcfc, 613px -164px #f2f2f2, -1137px -112px #c2c2c2, -1313px -199px #e3e3e3, -1176px 414px #ebebeb, -408px 332px #ededed, 1146px 245px white, 689px 112px #d6d6d6, 500px 460px #e3e3e3, -895px 476px #f2f2f2, -1274px -390px #dedede, 202px -375px #d1d1d1, 1133px 146px #f0f0f0, 689px 463px #cccccc, -1301px -308px #d4d4d4, 922px -53px #dedede, 1109px -366px #e8e8e8, -845px 197px #f2f2f2, -791px 342px #cfcfcf, 1068px 160px #e6e6e6, 450px 440px #d1d1d1, -324px 424px #c9c9c9, 1264px 130px #f0f0f0, 1132px -64px #c7c7c7, 710px -435px #c4c4c4, -1042px 439px #ebebeb, -1292px -221px #e0e0e0, -941px -143px #cfcfcf, -302px -7px #f2f2f2, -965px 323px #ededed, 1018px -453px #cccccc, -310px -351px #fcfcfc, 818px 55px white, 158px -149px #c9c9c9, 764px -351px #f2f2f2, -720px -443px #f7f7f7, 1479px -131px #d6d6d6, 1089px 124px #d4d4d4, 724px -10px whitesmoke, -207px 349px #dbdbdb, -494px -152px #f7f7f7, 1469px 23px #ededed, -1493px -22px #c4c4c4, 908px 234px #c7c7c7, 608px -113px #dedede, 1228px 145px #c2c2c2, -1238px 172px #c7c7c7, -995px 157px #fafafa, -1469px 63px #dbdbdb, 364px -306px #fafafa, 35px -22px #c4c4c4, -261px -95px #c7c7c7;
  animation: fly 7s linear infinite;
  transform-style: preserve-3d;
}
.stars:before, .stars:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}
.stars:before {
  transform: translateZ(-300px);
  animation: fade1 3s linear infinite;
}
.stars:after {
  transform: translateZ(-600px);
  animation: fade2 3s linear infinite;
}

@keyframes fly {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(300px);
  }
}
@keyframes fade1 {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}

.content-show{
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
}

.titree{
  text-align: center;
  margin-top: 5vh;
  flex-grow: 1;
}

